<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037271236824-qnopmnfkbitij357o8tg76e7bliqglm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037271236824-qnopmnfkbitij357o8tg76e7bliqglm9</string>
	<key>API_KEY</key>
	<string>AIzaSyBUT9EFWZA45rgZjmDZgOw67Bg3kocZ2CE</string>
	<key>GCM_SENDER_ID</key>
	<string>1037271236824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.foodstar.app</string>
	<key>PROJECT_ID</key>
	<string>wecook-8e021</string>
	<key>STORAGE_BUCKET</key>
	<string>wecook-8e021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037271236824:ios:f0fcbdfbbd5e3a1fc557ad</string>
</dict>
</plist>